<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device_width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
<div class ="container">
   <div class ="row jusify-content-center">
      <div class ="col-md-6">
       <h2 class ="text-center mt-5">Register</h2>
       <form method="post">
          {%csrf_token%}
         {{form.as_p}}
         <button type="submit" class="btn btn-primary btn-block">Register</button>
       </form>
      </div>
  </div>
</div>


</body>
</html>